@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #353839;
  --primary: #353839;
  --secondary: #2e3133;
  --accent: #80838a;
  --light: #d1d0d4;
  --white: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-light: var(--light);
  --color-white: var(--white);
  --font-sans: var(--font-inter);
  --font-display: var(--font-plus-jakarta-sans);
  --font-inter: var(--font-inter);
  --font-jakarta: var(--font-plus-jakarta-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.cursor-blink {
  animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
