@import "tailwindcss";

:root {
  --background: #F4F4F5;
  --foreground: #353839;
  --primary: #353839;
  --secondary: #2E3133;
  --accent: #80838A;
  --light: #D1D0D4;
  --white: #F4F4F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-light: var(--light);
  --color-white: var(--white);
  --font-sans: var(--font-inter);
  --font-display: var(--font-plus-jakarta-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}